<ion-view>
  <ion-content>
    <!-- Top Bar -->
    <div class="bar bar-header bar-positive">
      <h1 class="title">Friends</h1>
      <!-- Search Button -->
      <i class="fa fa-search fa-lg search-button "></i>

    </div>
    <br>
    <br>
    <!-- Page Content -->
    <div class="friend-list">
      <div class="friend-image">
        <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
        <div class="user-active-friends"></div>

        <div class="">
          Conor Amanatullah
        </div>

      </div>
      <div class="friend-image">

        <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
        <!-- Green thing -->
        <div class="user-active-friends"></div>
        <div class="">
          Doug McDougle
        </div>
      </div>
      <div class="friend-image">
        <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
        <!-- Green thing -->
        <!-- <div class="user-active"></div> -->
        <div class="user-active-friends"></div>
        <div class="">
          Ronald McDonald
        </div>
      </div>
      <div class="friend-image">
        <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
        <!-- Green thing -->
        <!-- <div class="user-active"></div> -->
        <div class="">
          Tony Stark
        </div>
      </div>
      <div class="friend-image">
        <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
        <!-- Green thing -->
        <!-- <div class="user-active"></div> -->
        <div class="">
          hey
        </div>
      </div>
      <div class="friend-image">
        <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
        <!-- Green thing -->
        <!-- <div class="user-active"></div> -->
        <div class="">
          hey
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
