
<ion-view>

  <ion-content class="padding">
    <div class="page-content">
      <div class="user-profile">

        <div class="user-profile-content">
          <div class="user-profile-image">
            <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
            <!-- Green thing -->
            <div class="user-active"></div>
          </div>
          <br>
          <p class="user-name">
            Doge
          </p>
          <div class="profile-actions">
            <i class="icon ion-ios-email-outline profile-icons left "></i>

            <p class="profile-icons-text left">
              Add Friend
            </p>

            <p class="profile-icons-text left">
              Follow
            </p>
          </div>







        </div>
      </div>
      <div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
