
<ion-view>

  <ion-content class="padding">
    <div class="page-content">
      <div class="user-profile">

        <div class="user-profile-content">
          <div class="user-profile-image">
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/10947178_10203146781301654_4999715794330019945_n.jpg?oh=b1e995f6316a8a9101df0a139c738aa4&oe=57E268E5" alt="lol ben" class="user-picture"/>
            <!-- Green thing -->
            <div class="user-active"></div>
          </div>
          <br>
          <p class="user-name">
            Conor Amanatullah
          </p>
          <div class="profile-actions">
            <i class="icon ion-ios-email-outline profile-icons left "></i>

            <p class="profile-icons-text left">
              Add Friend
            </p>

            <p class="profile-icons-text left">
              Follow
            </p>
          </div>
          <div class="profile-navigation">
            Timeline
            About
            Photos
            Friends
            Events
            Page
          </div>








        </div>
      </div>
      <div>
        <div class="card">
          <div class="item item-text-wrap user-info">
            <div class="">
              <i class="icon ion-ios-compose-outline"></i>

              Programmer at Google
            </div>
            <div class="">
              <i class="icon ion-ios-location-outline"></i>
              Boulder, Colorado
            </div>
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            <!-- Small picture -->
            <div class="">
              <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/10947178_10203146781301654_4999715794330019945_n.jpg?oh=b1e995f6316a8a9101df0a139c738aa4&oe=57E268E5" alt="lol ben" class="user-picture-small left clearfix"/>
              <div class="username">
                Conor Amanatullah
                <div class="timestamp right">
                  4h ago
                </div>
              </div>

            </div>
            <div class="item item-text-wrap">
              I enjoy long walks on the beach.
            </div>
            <div class="card-nav">
              <div class="card-nav-item">
                <i class="fa fa-thumbs-up"></i>
                Like
              </div>
              <div class="card-nav-item">
                <i class="fa fa-comment-o"></i>
                Comment
              </div>
              <div class="card-nav-item">
                <i class="fa fa-share"></i>
                Share
              </div>
              <div class="card-nav-item right">
                15
                like
              </div>
              <div class="card-nav-item right">

                  1

                comment
              </div>
            </div>
          </div>
        </div>
        <div>

          <div class="card">
            <div class="item item-text-wrap">
              <!-- Small picture -->
              <div class="">
                <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/10947178_10203146781301654_4999715794330019945_n.jpg?oh=b1e995f6316a8a9101df0a139c738aa4&oe=57E268E5" alt="lol ben" class="user-picture-small left clearfix"/>
                <div class="username">
                  Conor Amanatullah
                  <div class="timestamp right">
                    3d ago
                  </div>
                </div>

              </div>
              <div class="item item-text-wrap">
                I have no friends :(
              </div>
              <div class="card-nav">
                <div class="card-nav-item">
                  <i class="fa fa-thumbs-up"></i>
                  Like
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-comment-o"></i>
                  Comment
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-share"></i>
                  Share
                </div>
                <div class="card-nav-item right">
                  0
                  like
                </div>
                <div class="card-nav-item right">

                    0

                  comment
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="item item-text-wrap">
              <!-- Small picture -->
              <div class="">
                <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/10947178_10203146781301654_4999715794330019945_n.jpg?oh=b1e995f6316a8a9101df0a139c738aa4&oe=57E268E5" alt="lol ben" class="user-picture-small left clearfix"/>
                <div class="username">
                  Conor Amanatullah
                  <div class="timestamp right">
                    10d ago
                  </div>
                </div>

              </div>
              <div class="item item-text-wrap">
                I enjoy long walks on the beach.
              </div>
              <div class="card-nav">
                <div class="card-nav-item">
                  <i class="fa fa-thumbs-up"></i>
                  Like
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-comment-o"></i>
                  Comment
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-share"></i>
                  Share
                </div>
                <div class="card-nav-item right">
                  15
                  like
                </div>
                <div class="card-nav-item right">

                    1

                  comment
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </ion-content>
</ion-view>
