
<ion-view>

  <ion-content class="padding">
    <div class="page-content">
      <div class="user-profile">

        <div class="user-profile-content">
          <div class="user-profile-image">
            <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture"/>
            <!-- Green thing -->
            <div class="user-active"></div>
          </div>
          <br>
          <p class="user-name">
            Conor Amanatullah
          </p>
          <div class="profile-actions">
            <i class="icon ion-ios-email-outline profile-icons left "></i>

            <p class="profile-icons-text left">
              Add Friend
            </p>

            <p class="profile-icons-text left">
              Follow
            </p>
          </div>
          <div class="">
            <!-- Profile Nav -->
          </div>








        </div>
      </div>
      <div>
        <div class="card">
          <div class="item item-text-wrap user-info">
            <div class="">
              <i class="icon ion-ios-compose-outline"></i>

              Programmer at Google
            </div>
            <div class="">
              <i class="icon ion-ios-location-outline"></i>
              Boulder, Colorado
            </div>
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            <!-- Small picture -->
            <div class="">
              <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture-small left clearfix"/>
              <div class="username">
                Conor Amanatullah
                <div class="timestamp right">
                  4h ago
                </div>
              </div>

            </div>
            <div class="item item-text-wrap">
              I enjoy long walks on the beach.
            </div>
            <div class="card-nav">
              <div class="card-nav-item">
                <i class="fa fa-thumbs-up"></i>
                Like
              </div>
              <div class="card-nav-item">
                <i class="fa fa-comment-o"></i>
                Comment
              </div>
              <div class="card-nav-item">
                <i class="fa fa-share"></i>
                Share
              </div>
              <div class="card-nav-item right">
                15
                like
              </div>
              <div class="card-nav-item right">

                  1

                comment
              </div>
            </div>
          </div>
        </div>
        <div>

          <div class="card">
            <div class="item item-text-wrap">
              <!-- Small picture -->
              <div class="">
                <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture-small left clearfix"/>
                <div class="username">
                  Conor Amanatullah
                  <div class="timestamp right">
                    4h ago
                  </div>
                </div>

              </div>
              <div class="item item-text-wrap">
                I enjoy long walks on the beach.
              </div>
              <div class="card-nav">
                <div class="card-nav-item">
                  <i class="fa fa-thumbs-up"></i>
                  Like
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-comment-o"></i>
                  Comment
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-share"></i>
                  Share
                </div>
                <div class="card-nav-item right">
                  15
                  like
                </div>
                <div class="card-nav-item right">

                    1

                  comment
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="item item-text-wrap">
              <!-- Small picture -->
              <div class="">
                <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture-small left clearfix"/>
                <div class="username">
                  Conor Amanatullah
                  <div class="timestamp right">
                    4h ago
                  </div>
                </div>

              </div>
              <div class="item item-text-wrap">
                I enjoy long walks on the beach.
              </div>
              <div class="card-nav">
                <div class="card-nav-item">
                  <i class="fa fa-thumbs-up"></i>
                  Like
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-comment-o"></i>
                  Comment
                </div>
                <div class="card-nav-item">
                  <i class="fa fa-share"></i>
                  Share
                </div>
                <div class="card-nav-item right">
                  15
                  like
                </div>
                <div class="card-nav-item right">

                    1

                  comment
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </ion-content>
</ion-view>
