<ion-view>
  <ion-content>
    <!-- Top Bar -->
    <!-- <div class="bar bar-header bar-positive">
      <h1 class="title">Timeline</h1>


    </div> -->
    <!-- Page Content -->
    <div class="">
      <div>
        <div class="card">
          <div class="item item-text-wrap">
            <!-- Small picture -->
            <div class="">
              <img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" alt="lol ben" class="user-picture-small left clearfix"/>
              <div class="username">
                Conor Amanatullah
                <div class="timestamp right">
                  4h ago
                </div>
              </div>

            </div>
            <div class="item item-text-wrap">
              I enjoy long walks on the beach.
            </div>
            <div class="card-nav">
              <div class="card-nav-item">
                <i class="fa fa-thumbs-up"></i>
                Like
              </div>
              <div class="card-nav-item">
                <i class="fa fa-comment-o"></i>
                Comment
              </div>
              <div class="card-nav-item">
                <i class="fa fa-share"></i>
                Share
              </div>
              <div class="card-nav-item right">
                15
                like
              </div>
              <div class="card-nav-item right">

                  1

                comment
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
